<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <connectionStrings>
    <add name="RobotWarEventStore" connectionString="Data Source=MT-LPT-0047\MSSQLLOCAL;Trusted_Connection=True;Initial Catalog=RobotWarEventStore" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
